In [1]:
import torch
from torchtext import data
from torchtext import datasets

SEED = 1234

torch.manual_seed(SEED)
torch.backends.cudnn.deterministic = True

TEXT = data.Field(tokenize = 'spacy', include_lengths = True)
LABEL = data.LabelField(dtype = torch.float)

In [1]:
import pandas as pd 
from torchtext.vocab import Vectors
from torch.nn import init
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("/train.csv")
data.head()

      id                                           original  ... grades  meanGrade
0  14530  France is ‘ hunting down its citizens who join...  ...  10000        0.2
1  13034  Pentagon claims 2,000 % increase in Russian tr...  ...  33110        1.6
2   8731  Iceland PM Calls Snap Vote as Pedophile Furor ...  ...  22100        1.0
3     76  In an apparent first , Iran and Israel <engage...  ...  20000        0.4
4   6164  Trump was told weeks ago that Flynn misled <Vi...  ...      0        0.0

[5 rows x 5 columns]

In [15]:
original = data["original"].tolist()

In [17]:
edit = data["edit"].tolist()

In [18]:
print(len(edit))

9652

In [4]:
import re

In [25]:
print(original[:10])

['France is ‘ hunting down its citizens who joined <Isis/> ’ without trial in Iraq', 'Pentagon claims 2,000 % increase in Russian trolls after <Syria/> strikes . What does that mean ?', 'Iceland PM Calls Snap Vote as Pedophile Furor Crashes <Coalition/> ', 'In an apparent first , Iran and Israel <engage/> each other militarily', 'Trump was told weeks ago that Flynn misled <Vice/> President .', 'All 22 <promises/> Trump made in his speech to Congress , in one chart', 'New DOJ alert system will flag <crimes/> against police', "As Someone Who Grew Up Among Fundamentalist <Christians/> In The US , I 'm Surprised Anyone 's Surprised About Roy Moore", "Canadians may pay more taxes than Americans , but here 's what they get for their <money/> ", 'Dutch minister resigns in drug baron <row/> ']

In [26]:
pat = "<.*>"
after_edit = []
for i in range(len(edit)):
  after_edit.append(re.sub(pat,edit[i],original[i]))
data["after_edit"] = after_edit
data.head()

      id  ...                                         after_edit
0  14530  ...  France is ‘ hunting down its citizens who join...
1  13034  ...  Pentagon claims 2,000 % increase in Russian tr...
2   8731  ...  Iceland PM Calls Snap Vote as Pedophile Furor ...
3     76  ...  In an apparent first , Iran and Israel slap ea...
4   6164  ...  Trump was told weeks ago that Flynn misled sch...

[5 rows x 6 columns]

In [28]:
data.to_csv("train_data_1.csv")